name: CI Pipeline for Merge Requests

on:
  pull_request:
    types: opened
    branches:
    - main

permissions:
  id-token: write

jobs:
  build_frontend:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '16'

    - name: Build the app
      run: npm install && npm run build
      working-directory: ./frontend    
    
    - name: Run lint for the app
      run: npm run lint
      working-directory: ./frontend

  build_backend:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET SDK 9.0.x
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Build the backend app in Release mode
      run: dotnet build -c Release
      working-directory: ./backend
